<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head"></head>

<body>
    <header th:include="fragments/header :: header"></header>

    <div class="container">
        <br />
        <div class="card text-center">
            <div class="card-header">
                <h1 th:text="${title}"></h1>
            </div>
            <div class="card-body text-left">
                <table class="table text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Trabalho</th>
                            <th scope="col">Avaliador</th>
                            <th scope="col">Nota</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="revisao: ${revisoes}" th:object=${revisao}>
                            <td th:text=*{trabalho.titulo}></td>
                            <td th:text=*{avaliador.nome}></td>
                            <td th:text=*{nota}></td>
                            <td th:text=*{descricao}></td>
                            <div th:if="${editar=='false'}">
                                <td th:text=*{status}></td>
                                <td>
                                    <form th:action="@{/revisao-listar.html}" th:if="*{status=='Avaliado'}"
                                        method="POST">
                                        <input type="hidden" name="id" value="" th:value=*{id}>
                                        <button type="submit" class="btn btn-link">Editar</button>
                                    </form>
                                </td>
                            </div>
                            <div th:if="${editar}">
                                <div th:if="${revisao.id==id_revisar}">
                                    <form action="salvar-revisao-lista.html" method="POST">
                                        <td>
                                            <select name="status">
                                                <option th:value="*{status}" th:text="*{status}" selected></option>
                                                <option value="Validado">Validado</option>
                                                <option value="Invalidado">Invalidado</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="hidden" name="id" value="" th:value=${revisao.id}>
                                            <button type="submit" class="btn btn-link">Salvar</button>
                                            <a href="revisao-listar.html" class="btn btn-link">Cancelar</a>
                                        </td>
                                    </form>
                                </div>
                                <div th:if="${revisao.id!=id_revisar}">
                                    <td th:text="*{status}"></td>
                                    <td></td>
                                </div>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
</body>

</html>