<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head"></head>

<body>
    <header th:include="fragments/headerAvaliador :: header"></header>
    <div class="container">
        <h1 th:text="${title}"></h1>
    </div>
    <div class="container">
        <fieldset disabled>
            <div class="form-group">
                <label for="titulo">Nome</label>
                <input required type="text" class="form-control" id="titulo" name="titulo" placeholder="Título">
            </div>
            <div class="form-group">
                <label for="Descrição">Email</label>
                <input type="text" required class="form-control" id="descricao" name="descricao"
                    placeholder="Descrição">
            </div>
        </fieldset>
    </div>
    <div th:include="fragments/footer :: footer"></div>
</body>

</html>