<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head"></head>

<body>
    <header th:include="fragments/headerAvaliador :: header"></header>
    <div class="container">
        <h1 th:text="${title}"></h1>
    </div>
    <div class="container">
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Trabalho</th>
                    <th scope="col">Nota</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="revisao: ${revisoes}" th:object=${revisao}>
                    <td th:text=*{trabalho.titulo}></td>
                    <td th:text=*{nota}></td>
                    <td th:text=*{descricao}></td>
                    <td th:text=*{status}></td>
                    <td>
                        <form th:action="@{/revisar.html}" th:if="*{status!='Avaliado'}">
                            <input type="hidden" name="id" value="" th:value=*{trabalho.id}>
                            <button type="submit" class="btn btn-link">Revisar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:include="fragments/footer :: footer"></div>
</body>

</html>