<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head"></head>

<body>
    <header th:include="fragments/headerAvaliador :: header"></header>

    <div class="container">
        <br/>
        <div class="card text-center">
            <div class="card-header">
                <h1 th:text="${title}"></h1>
            </div>
            <div class="card-body text-left">
                <a href="adicionar-area.html" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Área</a>
                <table class="table text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Descrição</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="area: ${areas}">
                            <td th:text=${area.descricao}></td>
                            <td>
                                <form th:action="@{/remover-area-avaliador.html}" method="POST">
                                    <input type="hidden" name="id" value="" th:value=${area.id}>
                                    <button type="submit" class="btn btn-link">Remover</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:include="fragments/footer :: footer"></div>
</body>

</html>